/* MNTN */

position: relative;
width: 1920px;
height: 4600px;

/* BG */
background: #0B1D26;
/* Shadow */
box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);


/* HG */

position: absolute;
width: 1920px;
height: 1513px;
left: 0px;
top: -400px;

background: url(HG.png);


/* BG Hero */

position: absolute;
width: 1920px;
height: 1200px;
left: 0px;
top: 0px;

background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);


/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 950px;
height: 310px;
left: 500px;
top: 287px;



/* Group 17 */

position: static;
width: 316px;
height: 22px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;


/* A Hiking guide */

position: absolute;
width: 212px;
height: 22px;
left: 104px;
top: 0px;

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 6px;
text-transform: uppercase;

/* Accent */
color: #FBD784;



/* Rectangle 2.1 */

position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;

/* Accent */
background: #FBD784;


/* Be prepared for the Mountains and beyond! */

position: static;
width: 950px;
height: 200px;
left: 0px;
top: 54px;

font-family: Chronicle Display;
font-style: normal;
font-weight: 600;
font-size: 88px;
line-height: 100px;
/* or 114% */
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;


/* Group 7 */

position: static;
width: 126px;
height: 24px;
left: 0px;
top: 286px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 32px 0px;


/* Equipment */

position: absolute;
width: 94px;
height: 22px;
left: 0px;
top: 287px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* icon/navigation/arrow_downward_24px */

position: absolute;
width: 16px;
height: 24px;
left: 110px;
top: 286px;



/* icon/navigation/arrow_downward_24px */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Weiß */
background: #FFFFFF;


/* MG */

position: absolute;
width: 1920px;
height: 1422px;
left: 0px;
top: 464px;

background: url(MG.png);


/* VG */

position: absolute;
width: 1920px;
height: 926px;
left: 0px;
top: 768px;

background: url(VG.png);


/* BG Content */

position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: 1200px;

background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);


/* Social */

position: absolute;
width: 24px;
height: 173px;
left: 80px;
top: 359px;



/* Follow us */

position: absolute;
width: 77px;
height: 22px;
left: 104px;
top: 359px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;

transform: rotate(90deg);


/* instagram */

position: absolute;
width: 24px;
height: 24px;
left: 80px;
top: 460px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Weiß */
background: #FFFFFF;


/* twitter */

position: absolute;
width: 24px;
height: 24px;
left: 80px;
top: 508px;



/* Vector */

position: absolute;
left: 6.42%;
right: 6.42%;
top: 16.67%;
bottom: 12.5%;

/* Weiß */
background: #FFFFFF;


/* Slider */

position: absolute;
width: 77px;
height: 240px;
left: 1763px;
top: 326px;

/* Shadow */
filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));


/* Slider */

position: absolute;
width: 3px;
height: 240px;
left: 1837px;
top: 326px;



/* Slider BG */

position: absolute;
width: 3px;
height: 240px;
left: 1837px;
top: 326px;

/* Weiß */
background: #FFFFFF;
opacity: 0.5;


/* Slider Indicator */

position: absolute;
width: 3px;
height: 60px;
left: 1837px;
top: 326px;

/* Weiß */
background: #FFFFFF;


/* Text */

position: absolute;
width: 42px;
height: 208px;
left: 1763px;
top: 342px;



/* Frame 1 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

position: absolute;
width: 42px;
height: 208px;
left: 1763px;
top: 342px;



/* Start */

position: static;
width: 42px;
height: 22px;
left: 0px;
top: 0px;

font-family: Gilroy;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: right;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 40px 0px;


/* 01 */

position: static;
width: 18px;
height: 22px;
left: 24px;
top: 62px;

font-family: Gilroy;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: right;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 40px 0px;


/* 02 */

position: static;
width: 21px;
height: 22px;
left: 21px;
top: 124px;

font-family: Gilroy;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: right;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 40px 0px;


/* 03 */

position: static;
width: 21px;
height: 22px;
left: 21px;
top: 186px;

font-family: Gilroy;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: right;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 40px 0px;


/* Header */

position: absolute;
width: 1760px;
height: 25px;
left: 80px;
top: 64px;



/* Blog */

position: absolute;
width: 38px;
height: 22px;
left: 984px;
top: 2px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* About us */

position: absolute;
width: 75px;
height: 22px;
left: 869px;
top: 2px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* Equipment */

position: absolute;
width: 90px;
height: 22px;
left: 739px;
top: 2px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;



/* Account */

position: absolute;
width: 98px;
height: 24px;
left: 1662px;
top: 1px;



/* Account */

position: absolute;
width: 66px;
height: 21px;
left: 1694px;
top: 3px;

font-family: Gilroy;
font-size: 17px;
line-height: 21px;
/* identical to box height */

color: #FFFFFF;



/* Icons General / cart */

position: absolute;
width: 24px;
height: 24px;
left: 1662px;
top: 1px;



/* icon/action/account_circle_24px */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Path */

position: absolute;
left: 29.46%;
right: 29.46%;
top: 68.75%;
bottom: 16.67%;



/* Path */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 29.88%;



/* Path */

position: absolute;
left: 35.42%;
right: 35.42%;
top: 25%;
bottom: 45.83%;



/* Path */

position: absolute;
left: 43.75%;
right: 43.75%;
top: 33.33%;
bottom: 54.17%;



/* icon/action/account_circle_24px */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Path */

position: absolute;
left: 29.46%;
right: 29.46%;
top: 68.75%;
bottom: 16.67%;



/* Path */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 29.88%;



/* Path */

position: absolute;
left: 35.42%;
right: 35.42%;
top: 25%;
bottom: 45.83%;



/* Path */

position: absolute;
left: 43.75%;
right: 43.75%;
top: 33.33%;
bottom: 54.17%;



/* Logo */

position: absolute;
width: 108px;
height: 24px;
left: 0px;
top: 0px;



/* M */

position: absolute;
width: 32px;
height: 38px;
left: 0px;
top: -6px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* N */

position: absolute;
width: 26px;
height: 38px;
left: 32px;
top: -6px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* T */

position: absolute;
width: 24px;
height: 38px;
left: 58px;
top: -6px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* N */

position: absolute;
width: 26px;
height: 38px;
left: 82px;
top: -6px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 1462px;
height: 3040px;
left: 229px;
top: 1440px;



/* Content */

position: static;
width: 1462px;
height: 720px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 200px 0px;


/* Equipment */

position: absolute;
left: 0%;
right: 83.58%;
top: 5.28%;
bottom: 61.39%;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 240px;
line-height: 240px;
/* identical to box height, or 100% */

color: #FFFFFF;

opacity: 0.1;


/* 01 */

position: absolute;
left: 61.29%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(joel-jasmin-forestbird-znoL1m6MD_k-unsplash.png);


/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 10.26%;
right: 46.51%;
top: 19.58%;
bottom: 19.44%;



/* Tagline */

position: static;
width: 268px;
height: 22px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* GEt Started */

position: absolute;
width: 172px;
height: 22px;
left: 96px;
top: 0px;

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 6px;
text-transform: uppercase;

/* Accent */
color: #FBD784;



/* Line */

position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;

/* Accent */
background: #FBD784;


/* What level of hiker are you? */

position: static;
width: 555px;
height: 154px;
left: 0px;
top: 49px;

font-family: Chronicle Display;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker? */

position: static;
width: 632px;
height: 160px;
left: 0px;
top: 230px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
flex-grow: 0;
margin: 27px 0px;


/* More */

position: static;
width: 127px;
height: 22px;
left: 0px;
top: 417px;


/* Inside Auto Layout */
flex: none;
order: 3;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* Equipment */

position: absolute;
width: 87px;
height: 22px;
left: 0px;
top: 417px;

font-family: Gilroy;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* Accent */
color: #FBD784;



/* icon/navigation/arrow_downward_24px */

position: absolute;
width: 16px;
height: 24px;
left: 103px;
top: 436px;

transform: rotate(-90deg);


/* icon/navigation/arrow_downward_24px */

position: absolute;
left: 0%;
right: 0%;
top: 66.67%;
bottom: -66.67%;

/* Accent */
background: #FBD784;
transform: rotate(-90deg);


/* Content */

position: static;
width: 1462px;
height: 720px;
left: 0px;
top: 920px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 200px 0px;


/* 01 */

position: absolute;
left: 0%;
right: 61.29%;
top: 0%;
bottom: 0%;

background: url(lucas-clara-hvPB-UCAmmU-unsplash.jpg);


/* Equipment */

position: absolute;
left: 46.51%;
right: 34.68%;
top: 5.28%;
bottom: 61.39%;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 240px;
line-height: 240px;
/* identical to box height, or 100% */

color: #FFFFFF;

opacity: 0.1;


/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 56.77%;
right: 0%;
top: 19.58%;
bottom: 19.44%;



/* Tagline */

position: static;
width: 354px;
height: 22px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 27px 0px;


/* Hiking Essentials */

position: absolute;
width: 258px;
height: 22px;
left: 96px;
top: 0px;

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 6px;
text-transform: uppercase;

/* Accent */
color: #FBD784;



/* Line */

position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;

/* Accent */
background: #FBD784;


/* Picking the right Hiking Gear! */

position: static;
width: 555px;
height: 154px;
left: 0px;
top: 49px;

font-family: Chronicle Display;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 27px 0px;


/* The nice thing about beginning hiking is that you don’t really need any special gear, you can probably get away with things you already have. Let’s start with clothing. A typical mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and chafe wif they get sweaty or wet. */

position: static;
width: 632px;
height: 160px;
left: 0px;
top: 230px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 27px 0px;


/* More */

position: static;
width: 127px;
height: 22px;
left: 0px;
top: 417px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 27px 0px;


/* Equipment */

position: absolute;
width: 87px;
height: 22px;
left: 0px;
top: 417px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* Accent */
color: #FBD784;



/* icon/navigation/arrow_downward_24px */

position: absolute;
width: 16px;
height: 24px;
left: 103px;
top: 436px;

transform: rotate(-90deg);


/* icon/navigation/arrow_downward_24px */

position: absolute;
left: 0%;
right: 0%;
top: 66.67%;
bottom: -66.67%;

/* Accent */
background: #FBD784;
transform: rotate(-90deg);


/* Content */

position: static;
width: 1462px;
height: 720px;
left: 0px;
top: 1840px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 200px 0px;


/* Equipment */

position: absolute;
left: 0%;
right: 81.12%;
top: 5.28%;
bottom: 61.39%;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 240px;
line-height: 240px;
/* identical to box height, or 100% */

color: #FFFFFF;

opacity: 0.1;


/* 01 */

position: absolute;
left: 61.29%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(anastasia-petrova-xu2WYJek5AI-unsplash.png);


/* Content */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 10.26%;
right: 46.51%;
top: 19.58%;
bottom: 19.44%;



/* Tagline */

position: static;
width: 454px;
height: 22px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* where you go is the key */

position: absolute;
width: 358px;
height: 22px;
left: 96px;
top: 0px;

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
/* identical to box height */
letter-spacing: 6px;
text-transform: uppercase;

/* Accent */
color: #FBD784;



/* Line */

position: absolute;
width: 72px;
height: 2px;
left: 0px;
top: 10px;

/* Accent */
background: #FBD784;


/* Understand Your Map & Timing */

position: static;
width: 555px;
height: 154px;
left: 0px;
top: 49px;

font-family: Chronicle Display;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction.. */

position: static;
width: 632px;
height: 160px;
left: 0px;
top: 230px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
flex-grow: 0;
margin: 27px 0px;


/* More */

position: static;
width: 127px;
height: 22px;
left: 0px;
top: 417px;


/* Inside Auto Layout */
flex: none;
order: 3;
align-self: flex-start;
flex-grow: 0;
margin: 27px 0px;


/* Equipment */

position: absolute;
width: 87px;
height: 22px;
left: 0px;
top: 417px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

/* Accent */
color: #FBD784;



/* icon/navigation/arrow_downward_24px */

position: absolute;
width: 16px;
height: 24px;
left: 103px;
top: 436px;

transform: rotate(-90deg);


/* icon/navigation/arrow_downward_24px */

position: absolute;
left: 0%;
right: 0%;
top: 66.67%;
bottom: -66.67%;

/* Accent */
background: #FBD784;
transform: rotate(-90deg);


/* Footer */

position: static;
width: 1462px;
height: 280px;
left: 0px;
top: 2760px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 200px 0px;


/* Logo */

position: absolute;
width: 108px;
height: 38px;
left: 0px;
top: 2760px;



/* M */

position: absolute;
width: 32px;
height: 38px;
left: 0px;
top: 2760px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* N */

position: absolute;
width: 26px;
height: 38px;
left: 32px;
top: 2760px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* T */

position: absolute;
width: 24px;
height: 38px;
left: 58px;
top: 2760px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* N */

position: absolute;
width: 26px;
height: 38px;
left: 82px;
top: 2760px;

font-family: Chronicle Display;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.01em;
text-transform: capitalize;

/* Weiß */
color: #FFFFFF;



/* Get out there & discover your next slope, mountain & destination! */

position: absolute;
width: 303px;
height: 64px;
left: 0px;
top: 2822px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
/* or 178% */

color: #FFFFFF;



/* Links */

position: absolute;
width: 193px;
height: 280px;
left: 896px;
top: 2760px;



/* More on The Blog */

position: absolute;
width: 193px;
height: 32px;
left: 896px;
top: 2760px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

/* Accent */
color: #FBD784;



/* About MNTN */

position: absolute;
width: 104px;
height: 32px;
left: 896px;
top: 2816px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Contributors & Writers */

position: absolute;
width: 183px;
height: 32px;
left: 896px;
top: 2864px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Write For Us */

position: absolute;
width: 99px;
height: 32px;
left: 896px;
top: 2912px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Contact Us */

position: absolute;
width: 94px;
height: 32px;
left: 896px;
top: 2960px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Privacy Policy */

position: absolute;
width: 113px;
height: 32px;
left: 896px;
top: 3008px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Links */

position: absolute;
width: 161px;
height: 184px;
left: 1301px;
top: 2760px;



/* More on MNTN */

position: absolute;
width: 161px;
height: 32px;
left: 1301px;
top: 2760px;

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

/* Accent */
color: #FBD784;



/* The Team */

position: absolute;
width: 81px;
height: 32px;
left: 1301px;
top: 2816px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Jobs */

position: absolute;
width: 41px;
height: 32px;
left: 1301px;
top: 2864px;

font-family: Gilroy;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Press */

position: absolute;
width: 42px;
height: 32px;
left: 1301px;
top: 2912px;

font-family: Gilroy;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;



/* Copyright 2019 MNTN, Inc. Terms & Privacy */

position: absolute;
width: 347px;
height: 32px;
left: 6.06px;
top: 3008px;

font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

color: #FFFFFF;

opacity: 0.5;
